<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="Base::layout(~{::section})">
<head>
  <meta charset="UTF-8"/>
  <title>Nguyen Dung Art Gallery</title>
</head>
<body>
<section>
  <div class="well np">
<!--     <div id="map" style="width: 600px;height: 350px"></div> -->
    <br>
    <br>
    <hr class="softn clr"/>
    <a class="icon-map-marker" style="color:#371baf;" href="#"> Địa chỉ: 25 Xuân Hồng, P.12, Q.Tân Bình, Tp.HCM</a><br>
    <a class="icon-phone-sign" style="color:#371baf;" href="#"> 096.88.66.096</a><br>
    <a class="icon-envelope" style="color:#371baf;" href="#"> Email: dungnt23149@gmail.com</a><br>
  </div>
</section>
</body>
</html>
