<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
    <meta charset="utf-8">
    <title>Nguyen Dung Art Gallery</title>
</head>
<body>
<section>
    <h5>
        <ul class="breadcrumb">
        <li><a style="color: brown" th:href="@{'/product-list/'+ ${product.productType}}">
            <span th:text="${product.productTypeName}"></span></a>
            <span style="font-size: 16px" th:text="${product.name}"></span>
            </li>
        </ul>
    </h5>
    <div class="row">
        <div class="span9">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="frame" id="frame" >
<!--                        <a href="#"> <img id="myFrame" class="img-frame-1" src="../assets/img/76.png" alt=""></a>-->
                        <a href="#"> <img id="my_profile_picture" alt="" class="img-frame-2" th:src="@{'/img/'+${product.imageUrl}}" th:title="${product.name}" />
                        </a>

                    </div>
                    <br>
                    <button class="button-zoom" onclick="zoomIn()">-</button>
                    <button class="button-zoom" onclick="zoomOut()">+</button>
                    <hr class="softn clr"/>
                    <div class="span7">
                        <form class="form-horizontal qtyFrm">
<!--                            <div class="control-group">-->
<!--                                <label class="control-label"><span>Chọn khung:</span></label>-->
<!--                                <div class="span6">-->
<!--                                    <a href="#" onclick="chooseFrame('../assets/img/76.png')">-->
<!--                                        <img class="img-frame" src="../assets/img/76.png" alt=""/>-->
<!--                                    </a>-->
<!--                                    <a href="#" onclick="chooseFrame('../assets/img/194.png')">-->
<!--                                        <img class="img-frame" src="../assets/img/194.png" alt=""/>-->
<!--                                    </a>-->
<!--                                    <a href="#" onclick="chooseFrame('../assets/img/195.png')">-->
<!--                                        <img class="img-frame" src="../assets/img/195.png" alt=""/>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="control-group">
                                <label class="control-label"><span>Chọn màu:</span></label>
                                <div class="span6 button-group" id="button-group">
                                    <button type="button" onclick="changeColor('#f6f6e6')" class="button-color"  style="background: #f6f6e6;"></button>
                                    <button type="button" onclick="changeColor('#274e13')" class="button-color"  style="background: #274e13;"></button>
                                    <button type="button" onclick="changeColor('#d4c2b4')" class="button-color"  style="background: #d4c2b4;"></button>
                                    <button type="button" onclick="changeColor('#a2bbc9')" class="button-color"  style="background: #a2bbc9;"></button>
                                    <button type="button" onclick="changeColor('#980000')" class="button-color"  style="background: #980000;"></button>
                                    <button type="button" onclick="changeColor('#ff0000')" class="button-color"  style="background: #ff0000;"></button>
                                    <button type="button" onclick="changeColor('#618487')" class="button-color"  style="background: #618487;"></button>
                                    <button type="button" onclick="changeColor('#8c3f5b')" class="button-color" style="background: #8c3f5b;"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <hr class="softn clr"/>
                <div id="myTabContent" class="tab-content tabWrapper">
                    <div class="tab-pane fade active in" id="home">
                        <h5>THÔNG TIN CHI TIẾT</h5>
                        <hr class="softn clr"/>
                        <h6>Họa sĩ: <span th:text="${product.authorName}"></span></h6>
                        <h6>Chất liệu: <span th:text="${product.material}"></span></h6>
                        <h6>Kích thước: <span th:text="${product.size}"></span></h6>
                        <h6>Năm sáng tác: <span th:text="${product.year}"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Body wrapper -->
</section>
<script>

</script>
</body>
</html>